<div *ngIf="error" class="alert alert-danger" role="alert">
    Ocorreu um erro na chamada da API
</div>
<br>
<div class="card w-75 main-center shadow rounded">
    <div class="card-header">
        Postagem por dia
    </div>
    <div class="card-body scroll-tabela">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Data</th>
                    <th scope="col">Período</th>
                    <th scope="col">Qtd Tweet</th>
                </tr>
            </thead>
            <tbody *ngIf="registros?.length > 0">
                <tr *ngFor="let r of registros">
                    <td></td>
                    <td>{{r.Dia | number:'2.0'}}/{{r.Mes | number:'2.0'}}/{{r.Ano}}</td>
                    <td>{{r.Hora | number:'2.0'}}:00:00 até  {{r.Hora | number:'2.0'}}:59:59</td>
                    <td>{{r.QtdTweet}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="!(registros?.length > 0)">
                <tr>
                    <td colspan="6">Não há registros para exibir.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>