/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-image: url('assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #000000;
}

.scroll-tabela {
    overflow-y: auto;
}

.main-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.card::after {
  content: '';
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
  filter: blur(10px);
}

.active {
  font-weight: bolder;
  border: solid 1px #DDD;
}

a {
  cursor: pointer;
}

.has-error label {
  color: #dc3545;
}

.has-error input {
  border-color: #dc3545;
}

.has-error small {
  color: #dc3545;
}

.menu-popovertable > a {
  font-size: 14px;
  color: #30a160;
}

  .menu-popovertable > a.disabled {
    color: #c8c8c8;
    cursor: default;
  }

.menu-popovertable .popover {
  left: 0;
  z-index: 900;
  box-shadow: -1px -2px 5px 0 rgba(118, 151, 178, 0.25);
  border-radius: 6px;
  border: 1px solid #dbe3e8;
  background-color: #fbfcfc;
  max-width: 800px;
}

  .menu-popovertable .popover .popover-content {
    background-color: #fbfcfc;
    padding: 0;
  }

    .menu-popovertable .popover .popover-content ul {
      list-style: none;
      padding: 0px;
      margin: 0;
    }

      .menu-popovertable .popover .popover-content ul li {
        display: block;
        padding: 3px 15px;
      }

        .menu-popovertable .popover .popover-content ul li a {
          font-size: 14px;
          color: #515151;
          font-weight: 600;
        }

        .menu-popovertable .popover .popover-content ul li:hover {
          background-color: #ddd;
        }

.menu-popovertable img {
  width: 17px;
  position: relative;
  top: -3px;
}
